<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{components/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Sent</title>
</head>

<body>
    <section layout:fragment="content">
        <div class="container">
            <div class="row justify-content-center my-5">
                <div class="col-10 col-md-6 shadow rounded d-flex justify-content-center align-items-center">
                    <div class="p-3">
                        <h5 class="text-center p-2">Verify Your Email Address</h5>
                        <p>We have sent an email to you for verification. Follow the link provided to finalize the
                            signup process.</p>
                        <p>
                            If you do not see the verification email in your main inbox, check your spam folder. Please
                            contact us if you do not receive the verification email within a few minutes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>