<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{components/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Page</title>
</head>

<body>
    <section layout:fragment="content">
        <h1>Secure Page</h1>
        <p>Your username is <strong>...</strong></p>
        <form th:action="@{/logout}" method="post">
            <input class="btn btn-primary" type="submit" value="Logout" />
        </form>
        <br>
        <div>Logged user: <span sec:authentication="name">Bob</span></div>
        <div>Roles: <span sec:authentication="principal.authorities">[ROLE_USER]</span></div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            This content is only shown to administrators.
        </div>
        <div sec:authorize="hasRole('ROLE_USER')">
            This content is only shown to users.
        </div>
        <div sec:authorize="isAuthenticated()">
            This content is only shown to authenticated users.
        </div>
    </section>
</body>

</html>